
.video {
  &__wrapper {
    background: {
      // image: url("/images/caren_fitbit_bg.jpg");
      repeat: no-repeat;
      size: cover;
      color: rgba($background-overlay-color, 1);
      position: center;
    }
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__overlay {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($background-overlay-color, .3);
  }

  &__cover {
    width: 100%;
    height: 100%;
    background-color: $background-overlay-color;
    position: absolute;
    top: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    left: 0;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      background: {
        image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMnB4IiBoZWlnaHQ9IjJweCIgdmlld0JveD0iMCAwIDIgMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMiAyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IG9wYWNpdHk9IjAuNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAgICAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4NCjwvc3ZnPg0K);
        repeat: repeat;
        size: 1px;
      }
      opacity: .2;
    }
  }

  &__video {
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
  }  
}