$base-gutter: 20px;

$primary-base-color: #3c1275;
$background-overlay-color: #3c1275;
$base-text-color: #fff;

$button-border-color: #fff;
$button-hover-background-color: #fff;

$font-path: '/fonts/';