
.footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  min-width: $viewport-min-width;
  align-self: flex-end;
  padding: $base-gutter * 2;
  opacity: .6;
  font: {
    family: 'machabook';
    size: 12px;
  }
  order: 3;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: rgba(white, .8);
    }
  }

  @media (max-width: 600px) {
    display: block;
    position: relative;
    padding: 15px;

    .footer__content {
      display: block;
      width: auto;

      .footer__logo {
        display: block;
        margin: 20px auto;
      }
    }

    > * {
      display: block;
    }
  }

  &__content {
    justify-content: center;
    width: 960px;
    margin: auto;
    display: flex;

    a {
      display: inline-block;
    }
  }

  &__disclaimer {
    margin-right: $base-gutter;
  }

  &__copyright {
    display: inline-block;
    margin-right: $base-gutter;
  }

  &__logo {
    width: 70px;
    height: 20px;
    display: inline-block;
    margin-right: $base-gutter;
    align-self: center;
    background:{
      image: url('#{$image-path}caren_logo.svg');
      repeat: no-repeat;
      position: center left;
      size: 100%;
    }
    @include hide-text;
  }
}