
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'machabook';
  background: {
    color: $background-overlay-color;
  }
  
  .wrapper {
    position: absolute;
    opacity: 0;
    transition: 1.5s opacity;
    text-align: center;
    color: $base-text-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    min-width: $viewport-min-width;
    
    &.show {
      opacity: 1;
    }
  }

  .content {
    &__wrapper {
      height: auto;
      margin: auto;
    }
  }

  h1 {
    font: {
      family: 'machabold';
      size: 70px;
    }
    line-height: 65px;
    margin-bottom: $base-gutter;
  }

  p {
    font-family: 'machabook';
    margin-bottom: $base-gutter;
  }

  .header {
    border: 0;

    h3 {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      margin-bottom: $base-gutter;
    }
  }

  .btn {
    border: 2px solid $button-border-color;
    display: inline-block;
    transition: all .1s ease-in;
    color: $primary-base-color;
    font-family: 'machamedium';  
  }

  .btn-secondary {
    font-size: 16px;
    padding: 18px 25px;
    color: $base-text-color;
    background-color: transparent;
    border-radius: 8px;

    &:hover {
      color: $primary-base-color;
      background-color: $button-hover-background-color;
      border-color: $button-hover-background-color;
    }
  }

  .btn-sm {
    color: $primary-base-color;
    background-color: $button-hover-background-color;
    border-color: $button-hover-background-color;
    font-size: 12px;

    &:hover {
      color: $primary-base-color;
    }
  }

  p[role=alert] {
    font-family: 'machamedium'; 
    color: white;
    padding: 10px 20px;
    border: 2px solid rgba(white, .3);
    background-color: rgba(white, .1);
    display: block;
    max-width: 400px;
    margin: $base-gutter auto;
    border-radius: 3px;
  }
}


