.topbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 8px $base-gutter;
  display: flex;
  justify-content: space-between;
  min-width: $viewport-min-width;
  order: 1;
  margin-bottom: $base-gutter;
  height: 48px;

  > * {
    display: flex;
    width: 33%;
  }

  &__left {
    justify-content: flex-start;
  }
  
  &__right {
    justify-content: flex-end;
  }

  &__username {
    font: {
      family: 'machabold';
      size: 12px;
    }
    align-self: center;
    margin: { 
      right: $base-gutter;
    }
  }

  &__logout {
    
  }
}