<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kevin Etore <kevin.etore@nedap.com> Harmen Aversteeg <h.aversteeg@nedap.com>">
    <title>Caren Fitbit Syncer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="wrapper">
      <section class="container content__wrapper">
        <header class="header">
          <h3>Caren Fitbit Syncer</h3>
        </header>

        <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </section>

      <section class="canvas__wrapper">
        <div id="canvas" class="canvas__gradient"></div>
      </section>
    </div>

    <script src="/js/three.min.js"></script>
    <script src="/js/projector.js"></script>
    <script src="/js/canvas-renderer.js"></script>
    <script src="/js/3d-lines-animation.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") 
    %>"></script>
  </body>
</html>
